<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="foto-content" class="container justify-content-center mt-3 mb-3">
            <div class="container-sm">
                <div><p class="font-weight-bold fs-3 text-center" th:text="${fotoInfo}"></p></div>
                <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <div class="card m-1" th:each="foto:${fotos}">
                        <img id="img" th:src="@{${uploads}+${foto.img}}" class="card-img-top p-1 m-1" alt="foto-img">
                        <div class="card-body">
                            <p>
                                <span name="id" class="card-text visually-hidden" th:text="${foto.id}"></span><br>
                                <span name="name" class="card-text fw-bold" th:text="${foto.name}"></span><br>
                                <span name="description" class="card-text" th:text="${foto.description}"></span><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>